<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RPMHelpIndex</key>
	<dict>
		<key>remote</key>
		<false/>
		<key>value</key>
		<string>000002810</string>
	</dict>
	<key>Document</key>
	<dict>
		<key>remote</key>
		<false/>
		<key>value</key>
		<string>000003325</string>
	</dict>
	<key>DocumentListTable</key>
	<dict>
		<key>remote</key>
		<false/>
		<key>value</key>
		<string>000001214</string>
	</dict>
	<key>DocumentLayout</key>
	<dict>
		<key>remote</key>
		<false/>
		<key>value</key>
		<string>000002812</string>
	</dict>
	<key>MasterComponentCommandsMenu</key>
	<dict>
		<key>remote</key>
		<false/>
		<key>value</key>
		<string>000001912</string>
	</dict>
	<key>ComponentCommandsMenu</key>
	<dict>
		<key>remote</key>
		<false/>
		<key>value</key>
		<string>000001912</string>
	</dict>
	<key>ZoneCommandsMenu</key>
	<dict>
		<key>remote</key>
		<false/>
		<key>value</key>
		<string>000001912</string>
	</dict>
	<key>MakeConnectionViaMenu</key>
	<dict>
		<key>remote</key>
		<false/>
		<key>value</key>
		<string>000001912</string>
	</dict>
	<key>NoAvailableConnectors</key>
	<dict>
		<key>remote</key>
		<false/>
		<key>value</key>
		<string>000001912</string>
	</dict>
	<key>ShowOrRemoveConnection</key>
	<dict>
		<key>remote</key>
		<false/>
		<key>value</key>
		<string>000001912</string>
	</dict>
	<key>ComponentLibraryPalette</key>
	<dict>
		<key>remote</key>
		<false/>
		<key>value</key>
		<string>000001214</string>
	</dict>
	<key>InspectorPaletteComponent</key>
	<dict>
		<key>remote</key>
		<false/>
		<key>value</key>
		<string>000001169</string>
	</dict>
	<key>InspectorPaletteZone</key>
	<dict>
		<key>remote</key>
		<false/>
		<key>value</key>
		<string>000001169</string>
	</dict>
	<key>InspectorPaletteConnection</key>
	<dict>
		<key>remote</key>
		<false/>
		<key>value</key>
		<string>000001169</string>
	</dict>
	<key>InspectorPaletteScreen</key>
	<dict>
		<key>remote</key>
		<false/>
		<key>value</key>
		<string>000001169</string>
	</dict>
	<key>InspectorPaletteNoSelectionHelpAction</key>
	<dict>
		<key>remote</key>
		<false/>
		<key>value</key>
		<string>000001169</string>
	</dict>
	<key>ShowInputsHelp</key>
	<dict>
		<key>remote</key>
		<false/>
		<key>value</key>
		<string>000001169</string>
	</dict>
	<key>ShowOutputsHelp</key>
	<dict>
		<key>remote</key>
		<false/>
		<key>value</key>
		<string>000001169</string>
	</dict>
	<key>ShowDatasHelp</key>
	<dict>
		<key>remote</key>
		<false/>
		<key>value</key>
		<string>000001169</string>
	</dict>
	<key>ShowControlsHelp</key>
	<dict>
		<key>remote</key>
		<false/>
		<key>value</key>
		<string>000001169</string>
	</dict>
	<key>ShowModulesHelp</key>
	<dict>
		<key>remote</key>
		<false/>
		<key>value</key>
		<string>000001169</string>
	</dict>
	<key>ShowSlotsHelp</key>
	<dict>
		<key>remote</key>
		<false/>
		<key>value</key>
		<string>000001169</string>
	</dict>
	<key>ShowLogicalIOsHelp</key>
	<dict>
		<key>remote</key>
		<false/>
		<key>value</key>
		<string>000001169</string>
	</dict>
	<key>ShowResourceHelp</key>
	<dict>
		<key>remote</key>
		<false/>
		<key>value</key>
		<string>000001169</string>
	</dict>
	<key>ShowTelephonyHelp</key>
	<dict>
		<key>remote</key>
		<false/>
		<key>value</key>
		<string>000001169</string>
	</dict>
	<key>ShowsExcludedImplementationHelp</key>
	<dict>
		<key>remote</key>
		<false/>
		<key>value</key>
		<string>000001169</string>
	</dict>
	<key>ShowDeviceControlOptionsHelp</key>
	<dict>
		<key>remote</key>
		<false/>
		<key>value</key>
		<string>000001169</string>
	</dict>
	<key>ShowExcludedZonesHelp</key>
	<dict>
		<key>remote</key>
		<false/>
		<key>value</key>
		<string>000001169</string>
	</dict>
	<key>KeypadManagerDevices</key>
	<dict>
		<key>remote</key>
		<false/>
		<key>value</key>
		<string>009180700</string>
	</dict>
	<key>KeypadManagerScenes</key>
	<dict>
		<key>remote</key>
		<false/>
		<key>value</key>
		<string>000002850</string>
	</dict>
	<key>RPMAddLightingDeviceDialog</key>
	<dict>
		<key>remote</key>
		<false/>
		<key>value</key>
		<string>000002850</string>
	</dict>
	<key>RPMKeypadUpdateDataTableOptionsController</key>
	<dict>
		<key>remote</key>
		<false/>
		<key>value</key>
		<string>000002850</string>
	</dict>
	<key>General</key>
	<dict>
		<key>remote</key>
		<false/>
		<key>value</key>
		<string>000001301</string>
	</dict>
	<key>Styles</key>
	<dict>
		<key>remote</key>
		<false/>
		<key>value</key>
		<string>000001301</string>
	</dict>
	<key>Templates</key>
	<dict>
		<key>remote</key>
		<false/>
		<key>value</key>
		<string>000001301</string>
	</dict>
	<key>Libraries</key>
	<dict>
		<key>remote</key>
		<false/>
		<key>value</key>
		<string>000001301</string>
	</dict>
	<key>Labels</key>
	<dict>
		<key>remote</key>
		<false/>
		<key>value</key>
		<string>000001301</string>
	</dict>
	<key>UICDefaults</key>
	<dict>
		<key>remote</key>
		<false/>
		<key>value</key>
		<string>000001301</string>
	</dict>
	<key>Build</key>
	<dict>
		<key>remote</key>
		<false/>
		<key>value</key>
		<string>000001301</string>
	</dict>
	<key>SceneLoadDefautls</key>
	<dict>
		<key>remote</key>
		<false/>
		<key>value</key>
		<string>000001301</string>
	</dict>
	<key>ServiceChooser</key>
	<dict>
		<key>remote</key>
		<false/>
		<key>value</key>
		<string>000001160</string>
	</dict>
	<key>ServicePreferencesTableDialog</key>
	<dict>
		<key>remote</key>
		<false/>
		<key>value</key>
		<string>000001876</string>
	</dict>
	<key>TriggersDialog</key>
	<dict>
		<key>remote</key>
		<false/>
		<key>value</key>
		<string>000001876</string>
	</dict>
	<key>BACnetSettingsDialog</key>
	<dict>
		<key>remote</key>
		<false/>
		<key>value</key>
		<string>000001082</string>
	</dict>
	<key>BACnetTableDialog</key>
	<dict>
		<key>remote</key>
		<false/>
		<key>value</key>
		<string>000001082</string>
	</dict>
	<key>ComponentDataTableZoneMapDialog</key>
	<dict>
		<key>remote</key>
		<false/>
		<key>value</key>
		<string>000002674</string>
	</dict>
	<key>LightingComponentDataTableDialog</key>
	<dict>
		<key>remote</key>
		<false/>
		<key>value</key>
		<string>000001455</string>
	</dict>
	<key>FanComponentDataTableDialog</key>
	<dict>
		<key>remote</key>
		<false/>
		<key>value</key>
		<string>000001455</string>
	</dict>
	<key>TILightingComponentDataTableDialog</key>
	<dict>
		<key>remote</key>
		<false/>
		<key>value</key>
		<string>000001455</string>
	</dict>
	<key>ShadeComponentDataTableDialog</key>
	<dict>
		<key>remote</key>
		<false/>
		<key>value</key>
		<string>000001455</string>
	</dict>
	<key>hvacComponentDataTableDialog</key>
	<dict>
		<key>remote</key>
		<false/>
		<key>value</key>
		<string>000001455</string>
	</dict>
	<key>SecuritySystemComponentDataTableDialog</key>
	<dict>
		<key>remote</key>
		<false/>
		<key>value</key>
		<string>000001455.html</string>
	</dict>
	<key>PoolAndSpaComponentDataTableDialog</key>
	<dict>
		<key>remote</key>
		<false/>
		<key>value</key>
		<string>000001455</string>
	</dict>
	<key>ThemeManagerDialogCreatePanel</key>
	<dict>
		<key>remote</key>
		<false/>
		<key>value</key>
		<string>000001094</string>
	</dict>
	<key>ThemeManagerDialogAddPanelScreensTab</key>
	<dict>
		<key>remote</key>
		<false/>
		<key>value</key>
		<string>000001094</string>
	</dict>
	<key>ThemeManagerDialogAddPanelButtonsTab</key>
	<dict>
		<key>remote</key>
		<false/>
		<key>value</key>
		<string>000001094</string>
	</dict>
	<key>ThemeManagerDialogAddPanelBackgroundsTab</key>
	<dict>
		<key>remote</key>
		<false/>
		<key>value</key>
		<string>000001094</string>
	</dict>
	<key>ThemeManagerDialogAddPanelSoundsTab</key>
	<dict>
		<key>remote</key>
		<false/>
		<key>value</key>
		<string>000001094</string>
	</dict>
	<key>ThemeManagerDialogAddPanelAttachmentsTab</key>
	<dict>
		<key>remote</key>
		<false/>
		<key>value</key>
		<string>000001094</string>
	</dict>
	<key>ThemeManagerDialogDeletePanel</key>
	<dict>
		<key>remote</key>
		<false/>
		<key>value</key>
		<string>000001094</string>
	</dict>
	<key>ServicesRequestsStatesWindow</key>
	<dict>
		<key>remote</key>
		<false/>
		<key>value</key>
		<string>000002479</string>
	</dict>
	<key>UserStateVariablesWindow</key>
	<dict>
		<key>remote</key>
		<false/>
		<key>value</key>
		<string>000001876</string>
	</dict>
	<key>ScheduledEventWindow</key>
	<dict>
		<key>remote</key>
		<false/>
		<key>value</key>
		<string>000001876</string>
	</dict>
	<key>Reports</key>
	<dict>
		<key>remote</key>
		<false/>
		<key>value</key>
		<string>000001921</string>
	</dict>
	<key>ReportSectionsDialog</key>
	<dict>
		<key>remote</key>
		<false/>
		<key>value</key>
		<string>000001921</string>
	</dict>
	<key>ChannelGuideEditorDialog</key>
	<dict>
		<key>remote</key>
		<false/>
		<key>value</key>
		<string>000001146</string>
	</dict>
	<key>ReviewCustomWorkflowsDialog</key>
	<dict>
		<key>remote</key>
		<false/>
		<key>value</key>
		<string>000001876</string>
	</dict>
	<key>ReviewIOSUIDsDialog</key>
	<dict>
		<key>remote</key>
		<false/>
		<key>value</key>
		<string>000001876</string>
	</dict>
	<key>ReviewOSDRemoteAssignmentsDialog</key>
	<dict>
		<key>remote</key>
		<false/>
		<key>value</key>
		<string>000001876</string>
	</dict>
	<key>ReviewResourcesDialog</key>
	<dict>
		<key>remote</key>
		<false/>
		<key>value</key>
		<string>000001876</string>
	</dict>
	<key>ReviewStateUsageDialog</key>
	<dict>
		<key>remote</key>
		<false/>
		<key>value</key>
		<string>000001876</string>
	</dict>
	<key>ReviewUIUsersDialog</key>
	<dict>
		<key>remote</key>
		<false/>
		<key>value</key>
		<string>000001876</string>
	</dict>
	<key>ReviewUIUserManagementDialog</key>
	<dict>
		<key>remote</key>
		<false/>
		<key>value</key>
		<string>000001876</string>
	</dict>
	<key>ReviewUniqueIDsDialog</key>
	<dict>
		<key>remote</key>
		<false/>
		<key>value</key>
		<string>000001876</string>
	</dict>
	<key>ServiceTypeAliasDialog</key>
	<dict>
		<key>remote</key>
		<false/>
		<key>value</key>
		<string>000001876</string>
	</dict>
	<key>LinuxMediaServerSettingsDialog</key>
	<dict>
		<key>remote</key>
		<false/>
		<key>value</key>
		<string>000002822</string>
	</dict>
	<key>MediaServerSettingsDialog</key>
	<dict>
		<key>remote</key>
		<false/>
		<key>value</key>
		<string>000002822</string>
	</dict>
	<key>ChooseCommandDialog</key>
	<dict>
		<key>remote</key>
		<false/>
		<key>value</key>
		<string>000001169</string>
	</dict>
	<key>ChooseComponentProfileDialog</key>
	<dict>
		<key>remote</key>
		<false/>
		<key>value</key>
		<string>000001589</string>
	</dict>
	<key>ChooseThemeDialog</key>
	<dict>
		<key>remote</key>
		<false/>
		<key>value</key>
		<string>000001169</string>
	</dict>
	<key>ChooseUserDialog</key>
	<dict>
		<key>remote</key>
		<false/>
		<key>value</key>
		<string>000001169</string>
	</dict>
	<key>CustomerInformationDialog</key>
	<dict>
		<key>remote</key>
		<false/>
		<key>value</key>
		<string>000001146</string>
	</dict>
	<key>ErrorAndMessageLog</key>
	<dict>
		<key>remote</key>
		<false/>
		<key>value</key>
		<string>000002013</string>
	</dict>
	<key>ZoneOrganizationDialog</key>
	<dict>
		<key>remote</key>
		<false/>
		<key>value</key>
		<string>000002809</string>
	</dict>
	<key>NewUserProfileDialog</key>
	<dict>
		<key>remote</key>
		<false/>
		<key>value</key>
		<string>000001169</string>
	</dict>
	<key>EditCategoriesDialog</key>
	<dict>
		<key>remote</key>
		<false/>
		<key>value</key>
		<string>000001141</string>
	</dict>
	<key>EditCategoriesDialogDrawer_Services</key>
	<dict>
		<key>remote</key>
		<false/>
		<key>value</key>
		<string>000001141</string>
	</dict>
	<key>EditCategoriesDialogDrawer_Buttons</key>
	<dict>
		<key>remote</key>
		<false/>
		<key>value</key>
		<string>000001141</string>
	</dict>
	<key>StateChooserDialog</key>
	<dict>
		<key>remote</key>
		<false/>
		<key>value</key>
		<string>000002518</string>
	</dict>
	<key>SyncWithServicesOptionsDialog</key>
	<dict>
		<key>remote</key>
		<false/>
		<key>value</key>
		<string>000001500</string>
	</dict>
	<key>ChooseEnabledServicesDialog</key>
	<dict>
		<key>remote</key>
		<false/>
		<key>value</key>
		<string>000001169</string>
	</dict>
	<key>BACNetSetupHelp</key>
	<dict>
		<key>remote</key>
		<false/>
		<key>value</key>
		<string>000002947</string>
	</dict>
	<key>DevicesTelephonySettingsDialog</key>
	<dict>
		<key>remote</key>
		<false/>
		<key>value</key>
		<string>000001582</string>
	</dict>
	<key>CommandsTelephonySettingsDialog</key>
	<dict>
		<key>remote</key>
		<false/>
		<key>value</key>
		<string>000001582</string>
	</dict>
	<key>HVACScheduleSettingsDialog</key>
	<dict>
		<key>remote</key>
		<false/>
		<key>value</key>
		<string>000001373</string>
	</dict>
	<key>EnergyMonitorControlDialog</key>
	<dict>
		<key>remote</key>
		<false/>
		<key>value</key>
		<string>000001200</string>
	</dict>
	<key>EnergyMonitorDataTableDialog</key>
	<dict>
		<key>remote</key>
		<false/>
		<key>value</key>
		<string>000001200</string>
	</dict>
	<key>PopoverPickerWindow</key>
	<dict>
		<key>remote</key>
		<false/>
		<key>value</key>
		<string>000001112</string>
	</dict>
	<key>PopoverLayoutEditorWindow</key>
	<dict>
		<key>remote</key>
		<false/>
		<key>value</key>
		<string>000001112</string>
	</dict>
	<key>PopoverInspectorWindow</key>
	<dict>
		<key>remote</key>
		<false/>
		<key>value</key>
		<string>000001112</string>
	</dict>
	<key>AutoSetupHelp</key>
	<dict>
		<key>remote</key>
		<false/>
		<key>value</key>
		<string>000002341</string>
	</dict>
	<key>CustomThemesFolderNotDefined</key>
	<dict>
		<key>remote</key>
		<false/>
		<key>value</key>
		<string>000002811</string>
	</dict>
	<key>ImportProfileToUserLibrary</key>
	<dict>
		<key>remote</key>
		<false/>
		<key>value</key>
		<string>000001589</string>
	</dict>
	<key>UpgradeMediaDockHelp</key>
	<dict>
		<key>remote</key>
		<false/>
		<key>value</key>
		<string>000003159</string>
	</dict>
	<key>UpgradeItunesMediaServiceHelp</key>
	<dict>
		<key>remote</key>
		<false/>
		<key>value</key>
		<string>000003120</string>
	</dict>
	<key>LinuxHostRestrictions</key>
	<dict>
		<key>remote</key>
		<false/>
		<key>value</key>
		<string>000002560</string>
	</dict>
	<key>GenerateLargeNumberOfServicesHelp</key>
	<dict>
		<key>remote</key>
		<false/>
		<key>value</key>
		<string>000002538</string>
	</dict>
	<key>RunTimeLicensingHelpAnchor</key>
	<dict>
		<key>remote</key>
		<false/>
		<key>value</key>
		<string>000003073</string>
	</dict>
	<key>ReplaceComponentWIthAnotherDialog</key>
	<dict>
		<key>remote</key>
		<false/>
		<key>value</key>
		<string>000002534</string>
	</dict>
	<key>NeedsUpdateToLatestThemesDialog</key>
	<dict>
		<key>remote</key>
		<false/>
		<key>value</key>
		<string>000001500</string>
	</dict>
	<key>ChooseLoadsForScene</key>
	<dict>
		<key>remote</key>
		<false/>
		<key>value</key>
		<string>000002850</string>
	</dict>
	<key>LightingGroup</key>
	<dict>
		<key>remote</key>
		<true/>
		<key>value</key>
		<string>https://ge-lighting.github.io/prolighting/help/lighting</string>
		<key>data</key>
		<dict>
			<key>isGroup</key>
			<true/>
		</dict>
	</dict>
	<key>dmx</key>
	<dict>
		<key>remote</key>
		<true/>
		<key>value</key>
		<string>https://ge-lighting.github.io/prolighting/help</string>
		<key>data</key>
		<dict>
			<key>RemoteGroup</key>
			<string>lighting</string>
		</dict>
	</dict>
	<key>panels</key>
	<dict>
		<key>remote</key>
		<true/>
		<key>value</key>
		<string>https://ge-lighting.github.io/prolighting/help</string>
		<key>data</key>
		<dict>
			<key>RemoteGroup</key>
			<string>lighting</string>
		</dict>
	</dict>
	<key>0-10</key>
	<dict>
		<key>remote</key>
		<true/>
		<key>value</key>
		<string>https://ge-lighting.github.io/prolighting/help</string>
		<key>data</key>
		<dict>
			<key>RemoteGroup</key>
			<string>lighting</string>
		</dict>
	</dict>
	<key>pbc</key>
	<dict>
		<key>remote</key>
		<true/>
		<key>value</key>
		<string>https://ge-lighting.github.io/prolighting/help</string>
		<key>data</key>
		<dict>
			<key>RemoteGroup</key>
			<string>lighting</string>
		</dict>
	</dict>
	<key>leap</key>
	<dict>
		<key>remote</key>
		<true/>
		<key>value</key>
		<string>https://ge-lighting.github.io/prolighting/help</string>
		<key>data</key>
		<dict>
			<key>RemoteGroup</key>
			<string>lighting</string>
		</dict>
	</dict>
</dict>
</plist>
