<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Anchors</key>
	<dict>
		<key>RPMHelpIndex</key>
		<dict>
			<key>remote</key>
			<false/>
			<key>value</key>
			<string>000002810</string>
		</dict>
		<key>Document</key>
		<dict>
			<key>remote</key>
			<false/>
			<key>value</key>
			<string>000003325</string>
		</dict>
		<key>DocumentListTable</key>
		<dict>
			<key>remote</key>
			<false/>
			<key>value</key>
			<string>000001214</string>
		</dict>
		<key>DocumentLayout</key>
		<dict>
			<key>remote</key>
			<false/>
			<key>value</key>
			<string>000002812</string>
		</dict>
		<key>MasterComponentCommandsMenu</key>
		<dict>
			<key>remote</key>
			<false/>
			<key>value</key>
			<string>000001912</string>
		</dict>
		<key>ComponentCommandsMenu</key>
		<dict>
			<key>remote</key>
			<false/>
			<key>value</key>
			<string>000001912</string>
		</dict>
		<key>ZoneCommandsMenu</key>
		<dict>
			<key>remote</key>
			<false/>
			<key>value</key>
			<string>000001912</string>
		</dict>
		<key>MakeConnectionViaMenu</key>
		<dict>
			<key>remote</key>
			<false/>
			<key>value</key>
			<string>000001912</string>
		</dict>
		<key>NoAvailableConnectors</key>
		<dict>
			<key>remote</key>
			<false/>
			<key>value</key>
			<string>000001912</string>
		</dict>
		<key>ShowOrRemoveConnection</key>
		<dict>
			<key>remote</key>
			<false/>
			<key>value</key>
			<string>000001912</string>
		</dict>
		<key>ComponentLibraryPalette</key>
		<dict>
			<key>remote</key>
			<false/>
			<key>value</key>
			<string>000001214</string>
		</dict>
		<key>InspectorPaletteComponent</key>
		<dict>
			<key>remote</key>
			<false/>
			<key>value</key>
			<string>000001169</string>
		</dict>
		<key>InspectorPaletteZone</key>
		<dict>
			<key>remote</key>
			<false/>
			<key>value</key>
			<string>000001169</string>
		</dict>
		<key>InspectorPaletteConnection</key>
		<dict>
			<key>remote</key>
			<false/>
			<key>value</key>
			<string>000001169</string>
		</dict>
		<key>InspectorPaletteScreen</key>
		<dict>
			<key>remote</key>
			<false/>
			<key>value</key>
			<string>000001169</string>
		</dict>
		<key>InspectorPaletteNoSelectionHelpAction</key>
		<dict>
			<key>remote</key>
			<false/>
			<key>value</key>
			<string>000001169</string>
		</dict>
		<key>ShowInputsHelp</key>
		<dict>
			<key>remote</key>
			<false/>
			<key>value</key>
			<string>000001169</string>
		</dict>
		<key>ShowOutputsHelp</key>
		<dict>
			<key>remote</key>
			<false/>
			<key>value</key>
			<string>000001169</string>
		</dict>
		<key>ShowDatasHelp</key>
		<dict>
			<key>remote</key>
			<false/>
			<key>value</key>
			<string>000001169</string>
		</dict>
		<key>ShowControlsHelp</key>
		<dict>
			<key>remote</key>
			<false/>
			<key>value</key>
			<string>000001169</string>
		</dict>
		<key>ShowModulesHelp</key>
		<dict>
			<key>remote</key>
			<false/>
			<key>value</key>
			<string>000001169</string>
		</dict>
		<key>ShowSlotsHelp</key>
		<dict>
			<key>remote</key>
			<false/>
			<key>value</key>
			<string>000001169</string>
		</dict>
		<key>ShowLogicalIOsHelp</key>
		<dict>
			<key>remote</key>
			<false/>
			<key>value</key>
			<string>000001169</string>
		</dict>
		<key>ShowResourceHelp</key>
		<dict>
			<key>remote</key>
			<false/>
			<key>value</key>
			<string>000001169</string>
		</dict>
		<key>ShowTelephonyHelp</key>
		<dict>
			<key>remote</key>
			<false/>
			<key>value</key>
			<string>000001169</string>
		</dict>
		<key>ShowsExcludedImplementationHelp</key>
		<dict>
			<key>remote</key>
			<false/>
			<key>value</key>
			<string>000001169</string>
		</dict>
		<key>ShowDeviceControlOptionsHelp</key>
		<dict>
			<key>remote</key>
			<false/>
			<key>value</key>
			<string>000001169</string>
		</dict>
		<key>ShowExcludedZonesHelp</key>
		<dict>
			<key>remote</key>
			<false/>
			<key>value</key>
			<string>000001169</string>
		</dict>
		<key>KeypadManagerDevices</key>
		<dict>
			<key>remote</key>
			<false/>
			<key>value</key>
			<string>009180700</string>
		</dict>
		<key>KeypadManagerScenes</key>
		<dict>
			<key>remote</key>
			<false/>
			<key>value</key>
			<string>000002850</string>
		</dict>
		<key>RPMAddLightingDeviceDialog</key>
		<dict>
			<key>remote</key>
			<false/>
			<key>value</key>
			<string>000002850</string>
		</dict>
		<key>RPMKeypadUpdateDataTableOptionsController</key>
		<dict>
			<key>remote</key>
			<false/>
			<key>value</key>
			<string>000002850</string>
		</dict>
		<key>General</key>
		<dict>
			<key>remote</key>
			<false/>
			<key>value</key>
			<string>000001301</string>
		</dict>
		<key>Styles</key>
		<dict>
			<key>remote</key>
			<false/>
			<key>value</key>
			<string>000001301</string>
		</dict>
		<key>Templates</key>
		<dict>
			<key>remote</key>
			<false/>
			<key>value</key>
			<string>000001301</string>
		</dict>
		<key>Libraries</key>
		<dict>
			<key>remote</key>
			<false/>
			<key>value</key>
			<string>000001301</string>
		</dict>
		<key>Labels</key>
		<dict>
			<key>remote</key>
			<false/>
			<key>value</key>
			<string>000001301</string>
		</dict>
		<key>UICDefaults</key>
		<dict>
			<key>remote</key>
			<false/>
			<key>value</key>
			<string>000001301</string>
		</dict>
		<key>Build</key>
		<dict>
			<key>remote</key>
			<false/>
			<key>value</key>
			<string>000001301</string>
		</dict>
		<key>SceneLoadDefautls</key>
		<dict>
			<key>remote</key>
			<false/>
			<key>value</key>
			<string>000001301</string>
		</dict>
		<key>ServiceChooser</key>
		<dict>
			<key>remote</key>
			<false/>
			<key>value</key>
			<string>000001160</string>
		</dict>
		<key>ServicePreferencesTableDialog</key>
		<dict>
			<key>remote</key>
			<false/>
			<key>value</key>
			<string>000001876</string>
		</dict>
		<key>TriggersDialog</key>
		<dict>
			<key>remote</key>
			<false/>
			<key>value</key>
			<string>000001876</string>
		</dict>
		<key>BACnetSettingsDialog</key>
		<dict>
			<key>remote</key>
			<false/>
			<key>value</key>
			<string>000001082</string>
		</dict>
		<key>BACnetTableDialog</key>
		<dict>
			<key>remote</key>
			<false/>
			<key>value</key>
			<string>000001082</string>
		</dict>
		<key>ComponentDataTableZoneMapDialog</key>
		<dict>
			<key>remote</key>
			<false/>
			<key>value</key>
			<string>000002674</string>
		</dict>
		<key>LightingComponentDataTableDialog</key>
		<dict>
			<key>remote</key>
			<false/>
			<key>value</key>
			<string>000001455</string>
		</dict>
		<key>FanComponentDataTableDialog</key>
		<dict>
			<key>remote</key>
			<false/>
			<key>value</key>
			<string>000001455</string>
		</dict>
		<key>TILightingComponentDataTableDialog</key>
		<dict>
			<key>remote</key>
			<false/>
			<key>value</key>
			<string>000001455</string>
		</dict>
		<key>ShadeComponentDataTableDialog</key>
		<dict>
			<key>remote</key>
			<false/>
			<key>value</key>
			<string>000001455</string>
		</dict>
		<key>hvacComponentDataTableDialog</key>
		<dict>
			<key>remote</key>
			<false/>
			<key>value</key>
			<string>000001455</string>
		</dict>
		<key>SecuritySystemComponentDataTableDialog</key>
		<dict>
			<key>remote</key>
			<false/>
			<key>value</key>
			<string>000001455</string>
		</dict>
		<key>PoolAndSpaComponentDataTableDialog</key>
		<dict>
			<key>remote</key>
			<false/>
			<key>value</key>
			<string>000001455</string>
		</dict>
		<key>ServicesRequestsStatesWindow</key>
		<dict>
			<key>remote</key>
			<false/>
			<key>value</key>
			<string>000002479</string>
		</dict>
		<key>UserStateVariablesWindow</key>
		<dict>
			<key>remote</key>
			<false/>
			<key>value</key>
			<string>000001876</string>
		</dict>
		<key>ScheduledEventWindow</key>
		<dict>
			<key>remote</key>
			<false/>
			<key>value</key>
			<string>000001876</string>
		</dict>
		<key>Reports</key>
		<dict>
			<key>remote</key>
			<false/>
			<key>value</key>
			<string>000001921</string>
		</dict>
		<key>ReportSectionsDialog</key>
		<dict>
			<key>remote</key>
			<false/>
			<key>value</key>
			<string>000001921</string>
		</dict>
		<key>ChannelGuideEditorDialog</key>
		<dict>
			<key>remote</key>
			<false/>
			<key>value</key>
			<string>000001146</string>
		</dict>
		<key>ReviewCustomWorkflowsDialog</key>
		<dict>
			<key>remote</key>
			<false/>
			<key>value</key>
			<string>000001876</string>
		</dict>
		<key>ReviewIOSUIDsDialog</key>
		<dict>
			<key>remote</key>
			<false/>
			<key>value</key>
			<string>000001876</string>
		</dict>
		<key>ReviewOSDRemoteAssignmentsDialog</key>
		<dict>
			<key>remote</key>
			<false/>
			<key>value</key>
			<string>000001876</string>
		</dict>
		<key>ReviewResourcesDialog</key>
		<dict>
			<key>remote</key>
			<false/>
			<key>value</key>
			<string>000001876</string>
		</dict>
		<key>ReviewStateUsageDialog</key>
		<dict>
			<key>remote</key>
			<false/>
			<key>value</key>
			<string>000001876</string>
		</dict>
		<key>ReviewUIUsersDialog</key>
		<dict>
			<key>remote</key>
			<false/>
			<key>value</key>
			<string>000001876</string>
		</dict>
		<key>ReviewUIUserManagementDialog</key>
		<dict>
			<key>remote</key>
			<false/>
			<key>value</key>
			<string>000001876</string>
		</dict>
		<key>ReviewUniqueIDsDialog</key>
		<dict>
			<key>remote</key>
			<false/>
			<key>value</key>
			<string>000001876</string>
		</dict>
		<key>ServiceTypeAliasDialog</key>
		<dict>
			<key>remote</key>
			<false/>
			<key>value</key>
			<string>000001876</string>
		</dict>
		<key>LinuxMediaServerSettingsDialog</key>
		<dict>
			<key>remote</key>
			<false/>
			<key>value</key>
			<string>000002822</string>
		</dict>
		<key>MediaServerSettingsDialog</key>
		<dict>
			<key>remote</key>
			<false/>
			<key>value</key>
			<string>000002822</string>
		</dict>
		<key>ChooseCommandDialog</key>
		<dict>
			<key>remote</key>
			<false/>
			<key>value</key>
			<string>000001169</string>
		</dict>
		<key>ChooseComponentProfileDialog</key>
		<dict>
			<key>remote</key>
			<false/>
			<key>value</key>
			<string>000001589</string>
		</dict>
		<key>ChooseUserDialog</key>
		<dict>
			<key>remote</key>
			<false/>
			<key>value</key>
			<string>000001169</string>
		</dict>
		<key>CustomerInformationDialog</key>
		<dict>
			<key>remote</key>
			<false/>
			<key>value</key>
			<string>000001146</string>
		</dict>
		<key>ErrorAndMessageLog</key>
		<dict>
			<key>remote</key>
			<false/>
			<key>value</key>
			<string>000002013</string>
		</dict>
		<key>ZoneOrganizationDialog</key>
		<dict>
			<key>remote</key>
			<false/>
			<key>value</key>
			<string>000002809</string>
		</dict>
		<key>NewUserProfileDialog</key>
		<dict>
			<key>remote</key>
			<false/>
			<key>value</key>
			<string>000001169</string>
		</dict>
		<key>StateChooserDialog</key>
		<dict>
			<key>remote</key>
			<false/>
			<key>value</key>
			<string>000002518</string>
		</dict>
		<key>SyncWithServicesOptionsDialog</key>
		<dict>
			<key>remote</key>
			<false/>
			<key>value</key>
			<string>000001500</string>
		</dict>
		<key>ChooseEnabledServicesDialog</key>
		<dict>
			<key>remote</key>
			<false/>
			<key>value</key>
			<string>000001169</string>
		</dict>
		<key>BACNetSetupHelp</key>
		<dict>
			<key>remote</key>
			<false/>
			<key>value</key>
			<string>000002947</string>
		</dict>
		<key>HVACScheduleSettingsDialog</key>
		<dict>
			<key>remote</key>
			<false/>
			<key>value</key>
			<string>000001373</string>
		</dict>
		<key>EnergyMonitorControlDialog</key>
		<dict>
			<key>remote</key>
			<false/>
			<key>value</key>
			<string>000001200</string>
		</dict>
		<key>EnergyMonitorDataTableDialog</key>
		<dict>
			<key>remote</key>
			<false/>
			<key>value</key>
			<string>000001200</string>
		</dict>
		<key>PopoverPickerWindow</key>
		<dict>
			<key>remote</key>
			<false/>
			<key>value</key>
			<string>000001112</string>
		</dict>
		<key>PopoverLayoutEditorWindow</key>
		<dict>
			<key>remote</key>
			<false/>
			<key>value</key>
			<string>000001112</string>
		</dict>
		<key>PopoverInspectorWindow</key>
		<dict>
			<key>remote</key>
			<false/>
			<key>value</key>
			<string>000001112</string>
		</dict>
		<key>AutoSetupHelp</key>
		<dict>
			<key>remote</key>
			<false/>
			<key>value</key>
			<string>000002341</string>
		</dict>
		<key>ImportProfileToUserLibrary</key>
		<dict>
			<key>remote</key>
			<false/>
			<key>value</key>
			<string>000001589</string>
		</dict>
		<key>UpgradeMediaDockHelp</key>
		<dict>
			<key>remote</key>
			<false/>
			<key>value</key>
			<string>000003159</string>
		</dict>
		<key>UpgradeItunesMediaServiceHelp</key>
		<dict>
			<key>remote</key>
			<false/>
			<key>value</key>
			<string>000003120</string>
		</dict>
		<key>LinuxHostRestrictions</key>
		<dict>
			<key>remote</key>
			<false/>
			<key>value</key>
			<string>000002560</string>
		</dict>
		<key>GenerateLargeNumberOfServicesHelp</key>
		<dict>
			<key>remote</key>
			<false/>
			<key>value</key>
			<string>000002538</string>
		</dict>
		<key>RunTimeLicensingHelpAnchor</key>
		<dict>
			<key>remote</key>
			<false/>
			<key>value</key>
			<string>000003073</string>
		</dict>
		<key>ReplaceComponentWIthAnotherDialog</key>
		<dict>
			<key>remote</key>
			<false/>
			<key>value</key>
			<string>000002534</string>
		</dict>
		<key>ChooseLoadsForScene</key>
		<dict>
			<key>remote</key>
			<false/>
			<key>value</key>
			<string>000002850</string>
		</dict>
		<key>EnterLicenseHelpDialog</key>
		<dict>
			<key>remote</key>
			<false/>
			<key>value</key>
			<string>000001056</string>
		</dict>
		<key>ImportProfileChooseUserLibrary</key>
		<dict>
			<key>remote</key>
			<false/>
			<key>value</key>
			<string>000001589</string>
		</dict>
		<key>ChooseWorkflowsToEditDialog</key>
		<dict>
			<key>remote</key>
			<false/>
			<key>value</key>
			<string>000001169</string>
		</dict>
		<key>GeneralLightingHelp</key>
		<dict>
			<key>remote</key>
			<true/>
			<key>value</key>
			<string>RemotePaths</string>
			<key>NoAnchor</key>
			<true/>
			<key>baseURL</key>
			<dict>
				<key>isKey</key>
				<true/>
				<key>value</key>
				<string>savantdoc</string>
			</dict>
			<key>RemotePath</key>
			<dict>
				<key>isKey</key>
				<true/>
				<key>value</key>
				<string>Savant-Lighting</string>
			</dict>
		</dict>
		<key>GeneralShadesHelp</key>
		<dict>
			<key>remote</key>
			<true/>
			<key>value</key>
			<string>RemotePaths</string>
			<key>NoAnchor</key>
			<true/>
			<key>baseURL</key>
			<dict>
				<key>isKey</key>
				<true/>
				<key>value</key>
				<string>savantdoc</string>
			</dict>
			<key>RemotePath</key>
			<dict>
				<key>isKey</key>
				<true/>
				<key>value</key>
				<string>Savant-Shading</string>
			</dict>
		</dict>
		<key>GeneralMusicHelp</key>
		<dict>
			<key>remote</key>
			<true/>
			<key>value</key>
			<string>RemotePaths</string>
			<key>NoAnchor</key>
			<true/>
			<key>baseURL</key>
			<dict>
				<key>isKey</key>
				<true/>
				<key>value</key>
				<string>savantdoc</string>
			</dict>
			<key>RemotePath</key>
			<dict>
				<key>isKey</key>
				<true/>
				<key>value</key>
				<string>Savant-Music</string>
			</dict>
		</dict>
		<key>GeneralIPVideoHelp</key>
		<dict>
			<key>remote</key>
			<true/>
			<key>value</key>
			<string>RemotePaths</string>
			<key>NoAnchor</key>
			<true/>
			<key>baseURL</key>
			<dict>
				<key>isKey</key>
				<true/>
				<key>value</key>
				<string>savantdoc</string>
			</dict>
			<key>RemotePath</key>
			<dict>
				<key>isKey</key>
				<true/>
				<key>value</key>
				<string>Savant-IP Video</string>
			</dict>
		</dict>
		<key>GeneralIPAudioHelp</key>
		<dict>
			<key>remote</key>
			<true/>
			<key>value</key>
			<string>RemotePaths</string>
			<key>NoAnchor</key>
			<true/>
			<key>baseURL</key>
			<dict>
				<key>isKey</key>
				<true/>
				<key>value</key>
				<string>savantdoc</string>
			</dict>
			<key>RemotePath</key>
			<dict>
				<key>isKey</key>
				<true/>
				<key>value</key>
				<string>Savant-IP Audio</string>
			</dict>
		</dict>
		<key>GeneralCameraHelp</key>
		<dict>
			<key>remote</key>
			<true/>
			<key>value</key>
			<string>RemotePaths</string>
			<key>NoAnchor</key>
			<true/>
			<key>baseURL</key>
			<dict>
				<key>isKey</key>
				<true/>
				<key>value</key>
				<string>savantdoc</string>
			</dict>
			<key>RemotePath</key>
			<dict>
				<key>isKey</key>
				<true/>
				<key>value</key>
				<string>Savant-Camera</string>
			</dict>
		</dict>
		<key>GeneralSecurityHelp</key>
		<dict>
			<key>remote</key>
			<true/>
			<key>value</key>
			<string>RemotePaths</string>
			<key>NoAnchor</key>
			<true/>
			<key>baseURL</key>
			<dict>
				<key>isKey</key>
				<true/>
				<key>value</key>
				<string>savantdoc</string>
			</dict>
			<key>RemotePath</key>
			<dict>
				<key>isKey</key>
				<true/>
				<key>value</key>
				<string>Savant-Security</string>
			</dict>
		</dict>
		<key>GeneralDoorLockHelp</key>
		<dict>
			<key>remote</key>
			<true/>
			<key>value</key>
			<string>RemotePaths</string>
			<key>NoAnchor</key>
			<true/>
			<key>baseURL</key>
			<dict>
				<key>isKey</key>
				<true/>
				<key>value</key>
				<string>savantdoc</string>
			</dict>
			<key>RemotePath</key>
			<dict>
				<key>isKey</key>
				<true/>
				<key>value</key>
				<string>Savant-Door Locks</string>
			</dict>
		</dict>
		<key>GeneralEntryHelp</key>
		<dict>
			<key>remote</key>
			<true/>
			<key>value</key>
			<string>RemotePaths</string>
			<key>NoAnchor</key>
			<true/>
			<key>baseURL</key>
			<dict>
				<key>isKey</key>
				<true/>
				<key>value</key>
				<string>savantdoc</string>
			</dict>
			<key>RemotePath</key>
			<dict>
				<key>isKey</key>
				<true/>
				<key>value</key>
				<string>Savant-Entry</string>
			</dict>
		</dict>
		<key>GeneralEnergyHelp</key>
		<dict>
			<key>remote</key>
			<true/>
			<key>value</key>
			<string>RemotePaths</string>
			<key>NoAnchor</key>
			<true/>
			<key>baseURL</key>
			<dict>
				<key>isKey</key>
				<true/>
				<key>value</key>
				<string>savantdoc</string>
			</dict>
			<key>RemotePath</key>
			<dict>
				<key>isKey</key>
				<true/>
				<key>value</key>
				<string>Savant-Energy</string>
			</dict>
		</dict>
		<key>GeneralHVACHelp</key>
		<dict>
			<key>remote</key>
			<true/>
			<key>value</key>
			<string>RemotePaths</string>
			<key>NoAnchor</key>
			<true/>
			<key>baseURL</key>
			<dict>
				<key>isKey</key>
				<true/>
				<key>value</key>
				<string>savantdoc</string>
			</dict>
			<key>RemotePath</key>
			<dict>
				<key>isKey</key>
				<true/>
				<key>value</key>
				<string>Savant-HVAC</string>
			</dict>
		</dict>
		<key>GeneralBlueprintHelp</key>
		<dict>
			<key>remote</key>
			<true/>
			<key>value</key>
			<string>RemotePaths</string>
			<key>NoAnchor</key>
			<true/>
			<key>baseURL</key>
			<dict>
				<key>isKey</key>
				<true/>
				<key>value</key>
				<string>savantdoc</string>
			</dict>
			<key>RemotePath</key>
			<dict>
				<key>isKey</key>
				<true/>
				<key>value</key>
				<string>Savant-General Blueprint</string>
			</dict>
		</dict>
		<key>GeneralBlueprintPreferencesHelp</key>
		<dict>
			<key>remote</key>
			<true/>
			<key>value</key>
			<string>RemotePaths</string>
			<key>NoAnchor</key>
			<true/>
			<key>baseURL</key>
			<dict>
				<key>isKey</key>
				<true/>
				<key>value</key>
				<string>savantdoc</string>
			</dict>
			<key>RemotePath</key>
			<dict>
				<key>isKey</key>
				<true/>
				<key>value</key>
				<string>Savant-BP Preferences</string>
			</dict>
		</dict>
		<key>GeneralSystemMonitorHelp</key>
		<dict>
			<key>remote</key>
			<true/>
			<key>value</key>
			<string>RemotePaths</string>
			<key>NoAnchor</key>
			<true/>
			<key>baseURL</key>
			<dict>
				<key>isKey</key>
				<true/>
				<key>value</key>
				<string>savantdoc</string>
			</dict>
			<key>RemotePath</key>
			<dict>
				<key>isKey</key>
				<true/>
				<key>value</key>
				<string>Savant-GeneralSystemMonitor</string>
			</dict>
		</dict>
		<key>GeneralSCMHelp</key>
		<dict>
			<key>remote</key>
			<true/>
			<key>value</key>
			<string>RemotePaths</string>
			<key>NoAnchor</key>
			<true/>
			<key>baseURL</key>
			<dict>
				<key>isKey</key>
				<true/>
				<key>value</key>
				<string>savantdoc</string>
			</dict>
			<key>RemotePath</key>
			<dict>
				<key>isKey</key>
				<true/>
				<key>value</key>
				<string>Savant-GeneralSCM</string>
			</dict>
		</dict>
		<key>GeneralSavantAppHelp</key>
		<dict>
			<key>remote</key>
			<true/>
			<key>value</key>
			<string>RemotePaths</string>
			<key>NoAnchor</key>
			<true/>
			<key>baseURL</key>
			<dict>
				<key>isKey</key>
				<true/>
				<key>value</key>
				<string>savantdoc</string>
			</dict>
			<key>RemotePath</key>
			<dict>
				<key>isKey</key>
				<true/>
				<key>value</key>
				<string>Savant-GeneralAppUserGuide</string>
			</dict>
		</dict>
		<key>GeneralProRemoteHelp</key>
		<dict>
			<key>remote</key>
			<true/>
			<key>value</key>
			<string>RemotePaths</string>
			<key>NoAnchor</key>
			<true/>
			<key>baseURL</key>
			<dict>
				<key>isKey</key>
				<true/>
				<key>value</key>
				<string>savantdoc</string>
			</dict>
			<key>RemotePath</key>
			<dict>
				<key>isKey</key>
				<true/>
				<key>value</key>
				<string>Savant-GeneralProRemoteUserGuide</string>
			</dict>
		</dict>
		<key>GeneralSavantUIHelp</key>
		<dict>
			<key>remote</key>
			<true/>
			<key>value</key>
			<string>RemotePaths</string>
			<key>NoAnchor</key>
			<true/>
			<key>baseURL</key>
			<dict>
				<key>isKey</key>
				<true/>
				<key>value</key>
				<string>savantdoc</string>
			</dict>
			<key>RemotePath</key>
			<dict>
				<key>isKey</key>
				<true/>
				<key>value</key>
				<string>Savant-GeneralUIFeatureGuide</string>
			</dict>
		</dict>
		<key>GeneralBacnetHelp</key>
		<dict>
			<key>remote</key>
			<true/>
			<key>value</key>
			<string>RemotePaths</string>
			<key>NoAnchor</key>
			<true/>
			<key>baseURL</key>
			<dict>
				<key>isKey</key>
				<true/>
				<key>value</key>
				<string>savantdoc</string>
			</dict>
			<key>RemotePath</key>
			<dict>
				<key>isKey</key>
				<true/>
				<key>value</key>
				<string>Savant-GeneralBacnet</string>
			</dict>
		</dict>
		<key>GeneralCustomWorkflowsHelp</key>
		<dict>
			<key>remote</key>
			<true/>
			<key>value</key>
			<string>RemotePaths</string>
			<key>NoAnchor</key>
			<true/>
			<key>baseURL</key>
			<dict>
				<key>isKey</key>
				<true/>
				<key>value</key>
				<string>savantdoc</string>
			</dict>
			<key>RemotePath</key>
			<dict>
				<key>isKey</key>
				<true/>
				<key>value</key>
				<string>Savant-Workflows</string>
			</dict>
		</dict>
		<key>GeneralLicensingHelp</key>
		<dict>
			<key>remote</key>
			<true/>
			<key>value</key>
			<string>RemotePaths</string>
			<key>NoAnchor</key>
			<true/>
			<key>baseURL</key>
			<dict>
				<key>isKey</key>
				<true/>
				<key>value</key>
				<string>savantdoc</string>
			</dict>
			<key>RemotePath</key>
			<dict>
				<key>isKey</key>
				<true/>
				<key>value</key>
				<string>Savant-Licensing</string>
			</dict>
		</dict>
		<key>GeneralServiceOrderAndAliasingHelp</key>
		<dict>
			<key>remote</key>
			<true/>
			<key>value</key>
			<string>RemotePaths</string>
			<key>NoAnchor</key>
			<true/>
			<key>baseURL</key>
			<dict>
				<key>isKey</key>
				<true/>
				<key>value</key>
				<string>savantdoc</string>
			</dict>
			<key>RemotePath</key>
			<dict>
				<key>isKey</key>
				<true/>
				<key>value</key>
				<string>Savant-ServiceOrderAndAliasing</string>
			</dict>
		</dict>
		<key>GeneralStateTriggersHelp</key>
		<dict>
			<key>remote</key>
			<true/>
			<key>value</key>
			<string>RemotePaths</string>
			<key>NoAnchor</key>
			<true/>
			<key>baseURL</key>
			<dict>
				<key>isKey</key>
				<true/>
				<key>value</key>
				<string>savantdoc</string>
			</dict>
			<key>RemotePath</key>
			<dict>
				<key>isKey</key>
				<true/>
				<key>value</key>
				<string>Savant-StateTriggers</string>
			</dict>
		</dict>
		<key>dmx</key>
		<dict>
			<key>remote</key>
			<true/>
			<key>value</key>
			<string>https://ge-lighting.github.io/prolighting/help</string>
			<key>baseURL</key>
			<dict>
				<key>isKey</key>
				<true/>
				<key>value</key>
				<string>mkdoc</string>
			</dict>
			<key>RemotePath</key>
			<dict>
				<key>isKey</key>
				<true/>
				<key>value</key>
				<string>mkdoc-Lighting</string>
			</dict>
		</dict>
		<key>panels</key>
		<dict>
			<key>remote</key>
			<true/>
			<key>value</key>
			<string>RemotePaths</string>
			<key>baseURL</key>
			<dict>
				<key>isKey</key>
				<true/>
				<key>value</key>
				<string>mkdoc</string>
			</dict>
			<key>RemotePath</key>
			<dict>
				<key>isKey</key>
				<true/>
				<key>value</key>
				<string>mkdoc-Lighting</string>
			</dict>
		</dict>
		<key>0-10</key>
		<dict>
			<key>remote</key>
			<true/>
			<key>value</key>
			<string>https://ge-lighting.github.io/prolighting/help</string>
			<key>baseURL</key>
			<dict>
				<key>isKey</key>
				<true/>
				<key>value</key>
				<string>mkdoc</string>
			</dict>
			<key>RemotePath</key>
			<dict>
				<key>isKey</key>
				<true/>
				<key>value</key>
				<string>mkdoc-Lighting</string>
			</dict>
		</dict>
		<key>pbc</key>
		<dict>
			<key>remote</key>
			<true/>
			<key>value</key>
			<string>https://ge-lighting.github.io/prolighting/help</string>
			<key>baseURL</key>
			<dict>
				<key>isKey</key>
				<true/>
				<key>value</key>
				<string>mkdoc</string>
			</dict>
			<key>RemotePath</key>
			<dict>
				<key>isKey</key>
				<true/>
				<key>value</key>
				<string>mkdoc-Lighting</string>
			</dict>
		</dict>
		<key>leap</key>
		<dict>
			<key>remote</key>
			<true/>
			<key>value</key>
			<string>https://ge-lighting.github.io/prolighting/help</string>
			<key>baseURL</key>
			<dict>
				<key>isKey</key>
				<true/>
				<key>value</key>
				<string>mkdoc</string>
			</dict>
			<key>RemotePath</key>
			<dict>
				<key>isKey</key>
				<true/>
				<key>value</key>
				<string>mkdoc-Lighting</string>
			</dict>
		</dict>
	</dict>
	<key>baseURLS</key>
	<dict>
		<key>mkdoc</key>
		<string>https://ge-lighting.github.io</string>
		<key>savantdoc</key>
		<string>https://info.savant.com</string>
		<key>savantcommunity</key>
		<string>https://beta-community.savant.com</string>
	</dict>
	<key>RemotePaths</key>
	<dict>
		<key>mkdoc-Lighting</key>
		<dict>
			<key>path</key>
			<string>prolighting/help/lighting</string>
		</dict>
		<key>Savant-Shading</key>
		<dict>
			<key>path</key>
			<string>BPHelp/Lighting</string>
		</dict>
		<key>Savant-Lighting</key>
		<dict>
			<key>path</key>
			<string>BPHelp/Lighting</string>
		</dict>
		<key>Savant-Music</key>
		<dict>
			<key>path</key>
			<string>BPHelp/Music</string>
		</dict>
		<key>Savant-IP Video</key>
		<dict>
			<key>path</key>
			<string>BPHelp/IPVideo</string>
		</dict>
		<key>Savant-IP Audio</key>
		<dict>
			<key>path</key>
			<string>BPHelp/IPAudio</string>
		</dict>
		<key>Savant-Camera</key>
		<dict>
			<key>path</key>
			<string>BPHelp/Cameras</string>
		</dict>
		<key>Savant-Security</key>
		<dict>
			<key>path</key>
			<string>BPHelp/Security</string>
		</dict>
		<key>Savant-Door Locks</key>
		<dict>
			<key>path</key>
			<string>BPHelp/DoorLocks</string>
		</dict>
		<key>Savant-Entry</key>
		<dict>
			<key>path</key>
			<string>BPHelp/Entry</string>
		</dict>
		<key>Savant-Energy</key>
		<dict>
			<key>path</key>
			<string>BPHelp/Energy</string>
		</dict>
		<key>Savant-HVAC</key>
		<dict>
			<key>path</key>
			<string>BPHelp/HVAC</string>
		</dict>
		<key>Savant-General Blueprint</key>
		<dict>
			<key>path</key>
			<string>BPHelp/Configuration</string>
		</dict>
		<key>Savant-General BlueprintV2</key>
		<dict>
			<key>path</key>
			<string>knowledge/Independent-Services-Programming-Guide</string>
		</dict>
		<key>Savant-Licensing</key>
		<dict>
			<key>path</key>
			<string>BPHelp/Licensing</string>
		</dict>
		<key>Savant-BACnet</key>
		<dict>
			<key>path</key>
			<string>BPHelp/BACnet</string>
		</dict>
		<key>Savant-BP Preferences</key>
		<dict>
			<key>path</key>
			<string>BPHelp/Preferences</string>
		</dict>
		<key>Savant-Savant App Preferences</key>
		<dict>
			<key>path</key>
			<string>BPHelp/SavantAppOrderingAliasing</string>
		</dict>
		<key>Savant-Triggers</key>
		<dict>
			<key>path</key>
			<string>BPHelp/StateTriggers</string>
		</dict>
		<key>Savant-Workflows</key>
		<dict>
			<key>path</key>
			<string>BPHelp/CustomWorkflows</string>
		</dict>
		<key>Savant-GeneralSystemMonitor</key>
		<dict>
			<key>path</key>
			<string>BPHelp/SystemMonitor</string>
		</dict>
		<key>Savant-GeneralSCM</key>
		<dict>
			<key>path</key>
			<string>BPHelp/SCM</string>
		</dict>
		<key>Savant-GeneralAppUserGuide</key>
		<dict>
			<key>path</key>
			<string>BPHelp/SavantAppUserGuide</string>
		</dict>
		<key>Savant-GeneralProRemoteUserGuide</key>
		<dict>
			<key>path</key>
			<string>BPHelp/ProRemoteUserGuide</string>
		</dict>
		<key>Savant-GeneralUIFeatureGuide</key>
		<dict>
			<key>path</key>
			<string>BPHelp/UIFeatureGuide</string>
		</dict>
		<key>Savant-GeneralBacnet</key>
		<dict>
			<key>path</key>
			<string>BPHelp/BACnet</string>
		</dict>
		<key>Savant-ServiceOrderAndAliasing</key>
		<dict>
			<key>path</key>
			<string>BPHelp/SavantAppOrderingAliasing</string>
		</dict>
		<key>Savant-StateTriggers</key>
		<dict>
			<key>path</key>
			<string>BPHelp/StateTriggers</string>
		</dict>
	</dict>
	<key>Versions</key>
	<dict>
		<key>11.0.0</key>
		<dict>
			<key>GeneralBlueprintHelp</key>
			<dict>
				<key>remote</key>
				<true/>
				<key>value</key>
				<string>RemotePaths</string>
				<key>NoAnchor</key>
				<true/>
				<key>baseURL</key>
				<dict>
					<key>isKey</key>
					<true/>
					<key>value</key>
					<string>savantdoc</string>
				</dict>
				<key>RemotePath</key>
				<dict>
					<key>isKey</key>
					<true/>
					<key>value</key>
					<string>Savant-General Blueprint</string>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
